body {
  margin: 0;
  padding: 0;
}
.margen {
  margin: 100px;
  text-align: center;
}

.tabla {
  width: 100%;
  text-align: left;
}
.tabla td {
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
}
#menu ul {
  display: flex;
}
#menu li {
  list-style: none;
}
#menu li a {
  color: white;
  padding-right: 50px;
  text-decoration: none;
}
.list-container {
  text-align: center;
}

.error-mensaje {
  color: red;
  font-size: 25px;
  text-align: center;
}
.pub_titulo {
  cursor: pointer;
}
